.art-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -50px 0 20px;
}

/* iPhone 6/7/8 landscape */
@media screen and (max-width: 667px) {
  .art-categories-box {
    box-sizing: border-box;
    margin: 10px 5px;
    max-height: 260px;
    max-width: 260px;
  }
}
